.input-container {
  .input {
    color: var(--primary-text);
    border-radius: 4px;
    border: 1px solid var(--border);
    background-color: transparent;

    &::placeholder {
      color: var(--secondary-text);
    }

    &_medium {
      padding: 9px;
      font-size: 1rem;
    }

    &_large {
      padding: 14px;
      font-size: 1.5rem;
    }

    &_small {
      padding: 5px;
      font-size: 0.75rem;
    }
  }

  .input-error {
    color: var(--error);
    padding-top: 2px;
  }
}
