.sidebar-container {
  background-color: var(--secondary-bg);
  width: 80px;
  height: 100%;
  // height: 100dvh;
  // border-right: 1px solid var(--border);

  .menu-item {
    height: 80px;
    border-bottom: 1px solid var(--border);

    .__active {
    }
  }
}
